<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="./css/style.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Inter:wght@100;300;700;900&family=Khand:wght@700&family=KoHo:wght@700&family=Laila:wght@400;700&family=Mali:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
  </head>

  <body class="main__body">
    <main>
      <section class="section__floor">
        <div class="section__floor-head">
          <div class="back-bordered">
            <a href="./index.html">
              <img
                class="back-svg"
                src="./img/back-arrow-bordered.svg"
                alt=""
              />
            </a>
          </div>

          <div class="head-title">
            <h3>Ground Floor</h3>
          </div>
        </div>

        <div class="levels">
          <p class="levels-title">Levels</p>
          <div class="levels-col">
            <button class="levels-col-item">4</button>
            <button class="levels-col-item">3</button>
            <button class="levels-col-item">2</button>
            <button class="levels-col-item">1</button>
            <button class="levels-col-item active">G</button>
            <button class="levels-col-item">B</button>
          </div>
        </div>
      </section>
      <section class="section__zoom">
        <div class="zoom-items">
          <div class="zoom-button-container">
            <button class="zoom-in">
              <img src="./img/zoom-in.svg" alt="Zoom In" />
            </button>
            <div class="divider"></div>
            <button class="zoom-out">
              <img src="./img/zoom-out.svg" alt="Zoom Out" />
            </button>
          </div>
        </div>

        <div class="toggle-section">
          <div class="toggle-items">
            <div class="toggle-item">
              <img src="./img/toilet.svg" alt="Toilet-icon" />
              <button class="toggleButton">
                <img src="./img/toggle-off.svg" alt="ToggleOff" />
              </button>
            </div>
            <div class="toggle-item">
              <img src="./img/invalid.svg" alt="Toilet-icon" />
              <button class="toggleButton">
                <img src="./img/toggle-off.svg" alt="ToggleOff" />
              </button>
            </div>
            <div class="toggle-item">
              <img src="./img/grocery.svg" alt="Toilet-icon" />
              <button class="toggleButton">
                <img src="./img/toggle-off.svg" alt="ToggleOff" />
              </button>
            </div>
            <div class="toggle-item">
              <img src="./img/elevator.svg" alt="Toilet-icon" />
              <button class="toggleButton">
                <img src="./img/toggle-off.svg" alt="ToggleOff" />
              </button>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>

  <script src="./js/scripts.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
</html>
