<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Inter:wght@100;300;700;900&family=Khand:wght@700&family=KoHo:wght@700&family=Laila:wght@400;700&family=Mali:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
  </head>

  <body class="main__body">
    <main>
      <div class="section__explore">
        <div class="content__explore">
          <div class="search-container">
            <input type="text" placeholder="search here" id="search-input" />
          </div>

          <div class="section__title">
            <h1 class="title__explore">gps navigation</h1>
          </div>

          <div class="content-area">
            <div class="explore__area">
              <h2 class="explore__area-title"><span>EXPLORE</span>the area</h2>
              <div class="buttons">
                <a href="#" class="explore-btn"> View Mall Maps </a>
                <a href="levels" class="explore-btn"> Levels </a>
              </div>
            </div>

            <nav class="navigation-menu">
              <ul class="menu-list">
                <li class="menu-item">
                  <a class="menu__item-link" href="/stores">
                    <img class="item-svg" src="./img/stores.svg" alt="Stores" />
                    <span>stores</span>
                  </a>
                </li>
                <li class="menu-item">
                  <a class="menu__item-link" href="/suites">
                    <img class="item-svg" src="./img/suites.svg" alt="Suites" />
                    <span>suites</span>
                  </a>
                </li>
                <li class="menu-item">
                  <a class="menu__item-link" href="/food">
                    <img class="item-svg" src="./img/food.svg" alt="Food" />
                    <span>food</span>
                  </a>
                </li>
                <li class="menu-item">
                  <a class="menu__item-link" href="/spas">
                    <img class="item-svg" src="./img/spas.svg" alt="Spas" />
                    <span>spas</span>
                  </a>
                </li>
                <li class="menu-item">
                  <a class="menu__item-link" href="./more.html">
                    <img class="item-svg" src="./img/more.svg" alt="More" />
                    <span>more</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </main>
  </body>

  <script src="./js/scripts.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
</html>
