<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="./css/style.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Inter:wght@100;300;700;900&family=Khand:wght@700&family=KoHo:wght@700&family=Laila:wght@400;700&family=Mali:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="main__body">
    <main>
      <section class="section__more">
        <div class="section__more-head">
          <div class="back">
            <a href="./index.html">
              <img class="back-svg" src="./img/back-arrow.svg" alt="" />
            </a>
          </div>

          <div class="head-name">
            <p>more</p>
          </div>
        </div>
        <div class="section__more-title">
          <h1>
            explore the <br />
            venues
          </h1>
        </div>

        <div class="section__more-content">
          <div class="items-container">
            <div class="item">
              <div class="icon-container">
                <img src="./img/spas1.svg" alt="Spas" />
              </div>
              <span class="item-label">SPAS</span>
            </div>
            <div class="item">
              <div class="icon-container">
                <img src="./img/gym1.svg" alt="Gyms" />
              </div>
              <span class="item-label">GYMS</span>
            </div>
            <div class="item">
              <div class="icon-container">
                <img src="./img/residential1.svg" alt="Residential" />
              </div>
              <span class="item-label">RESIDENTIAL</span>
            </div>

            <div class="item">
              <div class="icon-container">
                <img src="./img/hotel.svg" alt="Spas" />
              </div>
              <span class="item-label">Hotel</span>
            </div>
            <div class="item">
              <div class="icon-container">
                <img src="./img/store1.svg" alt="Gyms" />
              </div>
              <span class="item-label">Store</span>
            </div>
            <div class="item">
              <div class="icon-container">
                <img src="./img/restaurant1.svg" alt="Residential" />
              </div>
              <span class="item-label">restaurant</span>
            </div>

            <div class="item">
              <div class="icon-container">
                <img src="./img/kids.svg" alt="Spas" />
              </div>
              <span class="item-label">Kids area</span>
            </div>
            <div class="item">
              <div class="icon-container">
                <img src="./img/cinema.svg" alt="Gyms" />
              </div>
              <span class="item-label">Cinema</span>
            </div>
            <div class="item">
              <div class="icon-container">
                <img src="./img/taxi.svg" alt="Residential" />
              </div>
              <span class="item-label">parking</span>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>

  <script src="./js/scripts.min.js"></script>
</html>
