  .options-container {
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    background-color: white;
  
    width: 100%;
  
    z-index: 1000;
    padding: 5px;
  }
  
  .misc-container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    gap: 20px;
  }
  
  .round-link {
    background-color: #b74113; /* Orange background */
    border-radius: 50%; /* Make it round */
    
    padding: 5px; /* Adjust padding for size */
    
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 50px; /* Adjust for desired button size */
    height: 50px; /* Adjust for desired button size */
    
    text-decoration: none; /* Remove underline */
  }
  
  .round-link:hover {
    background-color: #de602e; /* Slightly darker orange on hover */
  }
  
  @media (orientation: landscape) {
    .options-container {
      min-height: 80px;
      height: 10vh;
    }
  }


  @media (orientation: landscape) and (min-height: 900px) {
    .options-container {
      height: 8vh;
    }
  }

  @media (orientation: landscape) and (min-height: 1050px) {
    .options-container {
      height: 6vh;
    }
  }

  @media (orientation: landscape) and (min-height: 1200px) {
    .options-container {
      height: 5vh;
    }
  }

  @media (orientation: landscape) and (min-height: 1500px ) {
    .options-container {
      height: 3vh;
    }
  }